:root {
  --negro0: #111111;
  --negro1: #333333;
  --gris0: #444444;
  --gris1: #909090;
  --gris2: #c4c4c4;
  --gris3: #dedede;
  --gris4: #e2e2e2;
  --gris5: #e6e6e6;
  --gris6: #f3f3f3;
  --blanco0: #ffffff;
  --blanco1: #fafafa;

  /*Estados*/
  --citadx: rgba(86, 204, 242, 0.7);
  --enProceso: rgba(39, 174, 96, 0.7);
  --sinEstado: rgba(189, 189, 189, 0.7);
  --contactar: rgba(242, 201, 76, 0.7);
  --esperaDeRespuesta: rgba(235, 87, 87, 0.7);

  --textFont: "Poppins", sans-serif;
}
.btn {
  padding: 5px 10px;
  border-radius: 3px;
  background: var(--gris0);
  color: var(--blanco1);
  border: none;

  font-family: var(--textFont);
  font-style: normal;
  font-weight: bold;
}

.btn-m {
  width: 146px;
  height: 44px;
  font-size: 1em;
}
.btn-s {
  width: 118px;
  height: 48px;
  font-size: 0.6em;
}

.btn-xs {
  width: 84px;
  height: 32px;
  font-size: 0.5em;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  text-decoration: none;
}
.btn-login {
  background-color: var(--gris1);
  color: var(--blanco1);
  text-transform: uppercase;
  height: 2.5rem;
  font-family: var(--textFont);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background: var(--negro0);
  color: var(--blanco0);
}

.btn-block {
  display: block;
  width: 100%;
}
