:root {
  --negro0: #111111;
  --negro1: #333333;
  --gris0: #444444;
  --gris1: #909090;
  --gris2: #c4c4c4;
  --gris3: #dedede;
  --gris4: #e2e2e2;
  --gris5: #e6e6e6;
  --gris6: #f3f3f3;
  --blanco0: #ffffff;
  --blanco1: #fafafa;

  /*Estados*/
  --citadx: rgba(86, 204, 242, 0.7);
  --enProceso: rgba(39, 174, 96, 0.7);
  --sinEstado: rgba(189, 189, 189, 0.7);
  --contactar: rgba(242, 201, 76, 0.7);
  --esperaDeRespuesta: rgba(235, 87, 87, 0.7);

  --textFont: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 0.4% 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  font: 16px var(--textFont);

  width: 95%;
  background: var(--blanco1);
  margin: 0.3em auto;
  border-radius: 5px;
}

.container:hover {
  background: rgba(222, 222, 222, 0.5);
  cursor: pointer;
}

.celda,
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.celda {
  font-size: 0.6rem;
}

.encabezado {
  background-color: var(--gris5);
}

.titulo {
  grid-column-start: 1;
  grid-column-end: 8;
  background-color: var(--blanco1);
  color: var(--negro1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0;
}

.estado {
  margin: 0.5em 0;
  border-radius: 5px;
}
