:root {
  /*Estados*/
  --citadx: #56ccf2;
  --enProceso: #27ae60;
  --sinEstado: #bdbdbd;
  --contactar: #f2c94c;
  --esperaDeRespuesta: #eb5757;

  --textFont: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body main {
  margin: 0;
  padding: 0;
  display: inline;
}

body {
  background-color: var(--blanco0);
  color: var(--negro0);
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}
