:root {
  --negro0: #111111;
  --negro1: #333333;
  --gris0: #444444;
  --gris1: #909090;
  --gris2: #c4c4c4;
  --gris3: #dedede;
  --gris4: #e2e2e2;
  --gris5: #e6e6e6;
  --gris6: #f3f3f3;
  --blanco0: #ffffff;
  --blanco1: #fafafa;

  /*Estados*/
  --citadx: #56ccf2;
  --enProceso: #27ae60;
  --sinEstado: #bdbdbd;
  --contactar: #f2c94c;
  --esperaDeRespuesta: #eb5757;

  --textFont: "Poppins", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  margin-top: 1em;
}
body {
  min-height: 100%;
  background-color: var(--blanco0);
  color: var(--negro0);
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  padding: 0 1.5em;
}

.content {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
}

.logo-info {
  background: var(--blanco0);
  border-radius: 3px;
  padding: 1em;
  padding-bottom: 0em;
}

.logo-info h1,
.logo-info h2 {
  text-align: right;
  margin: 0 0 1em 0;
  font-weight: normal;
}

.logo-info h1 {
  font-weight: bold;
}

.login-form {
  background: #474a59;
  border-radius: 3px;
  padding: 1em;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gris3);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--gris3);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--gris3);
}

.input-login {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border: none;
  background: none;
  outline: none;
  color: var(--blanco1);
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    90deg,
    #39a4cc 0%,
    #3ca4be 41.15%,
    #5fa92c 71.35%
  );
  border-image-slice: 1;
  border-radius: 3px;
}

.sombra-info {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.sombra-login {
  -webkit-box-shadow: 20px 15px 20px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 20px 15px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 20px 15px 20px -10px rgba(0, 0, 0, 0.5);
}

.logo-index {
  position: absolute;
}

/** BOTONES **/
.btn {
  font-family: var(--headingFont);
  font-size: 1.4;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--gris1);
  color: var(--blanco1);
  text-transform: uppercase;
  margin-top: 1em;
  padding: 1em;
}
.btn-primario:hover {
  background: var(--negro0);
  color: var(--blanco0);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

.btn-flotante {
  position: fixed;
  top: 0;
  left: 6em;
}

/*BARRA NAVEGADORA*/
header {
  background: var(--negro1);
  color: var(--blanco1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: table;
}

header a {
  color: var(--blanco1);
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block table-cell;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  transition: all 0.4s lineal;
  border-radius: 5px;
  display: table-cell;
}

/*IMAGEN REDONDA*/

.imgRedonda {
  width: 30px;
  height: 30px;
  border-radius: 31px;
  border: 1px solid var(--blanco0);
}

.imgRedonda:hover {
  border: 1.5px solid var(--blanco1);
}

/* logOut-barra */
.logout {
  color: var(--blanco1);
}

.logout:hover {
  color: var(--blanco0);
}

/*BUSCADOR*/
.buscador {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  /* This bit draws the box around it */
  border: 1px solid grey;
  /* I've used padding so you can see the edges of the elements. */
  padding: 2px;
}

input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

/* Tabla */

.container-table {
  width: 90%;
  background: var(--blanco1);
  margin: 5px auto;
  box-shadow: 0 0 1px #333333;
  border-radius: 3px;

  display: grid;
  grid-template-columns: (6, 1fr);
  grid-auto-rows: 50px;
}

.table-title {
  grid-column-start: 1;
  grid-column-end: 7;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--negro1);
  border-radius: 3px;
  font-weight: bold;
  font-size: 2.5em;
}

.table-header,
.table-item {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* Mantien Texto en una sola línea */
}

.table-header {
  font-weight: bold;
  font-size: 1.3em;
  background: var(--gris6);
}

.table-item {
  padding: 10px;
  font-size: 1em;
}

/*ESTADOS*/
.estado {
  opacity: 0.7;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.linea {
  border-radius: 7em;
  margin-right: 2em;
  margin-left: 0em;
}

.citadx {
  background-color: var(--citadx);
}

.enProceso {
  background: var(--enProceso);
}

.sinEstado {
  background: var(--sinEstado);
}

.esperaDeRespuesta {
  background-color: var(--esperaDeRespuesta);
}

.contactar {
  background: var(--contactar);
}

/*PAGINACION*/
.paginacion {
  margin: 1em 0;
}

.paginacion ul {
  list-style: none;
  text-align: center;
}

.paginacion ul li {
  display: inline-block;
  margin-right: 1em;
}

.paginacion ul li a {
  display: block;
  padding: 10px 20px;
  color: var(--blanco1);
  background: var(--gris2);
  border-radius: 3px;
  text-decoration: none;
}

.paginacion ul li a:hover {
  color: var(--blanco0);
  background: var(--negro1);
}

.paginacion ul li .active {
  background: var(--gris1);
}

/*BARRA ESTADO*/
.barraEstado {
  width: 100%;
  border-radius: 0 0 3p 3px;
  background: var(--citadx);
}

/* PERSONA*/

.back-persona {
  display: grid;
  padding: 0.5em;
  border-radius: 7px;
  /*background: var(--blanco1);*/
  background: var(--blanco1);
}

.grid-per {
  display: grid;
  grid-template-columns: 35% 12.5% 12.5% 30% 10%;
  align-self: center;

  align-items: center;
  font-size: calc(0.5em + 1vh);

  padding-left: 1em;
  padding-right: 1em;
  border-radius: 7px;
  background: var(--gris6);
}

.nested-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
}

.nested-grid h5 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.nested-grid h3 {
  margin-top: 0;
  padding-top: 0;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-left: 0.3px solid var(--gris0);
  padding-left: 1em;
  justify-items: end;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 1em;
    margin-top: 7em;
  }
  .login-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .login-box > * {
    padding: 2em;
    right: 50%;
    top: 20%;
  }
  .logo-info {
    position: absolute;
    padding-bottom: 1em;
    padding-right: 1em;
    width: 35%;
    height: 45%;
    right: 50%;
    top: 22.5%;
  }
  .logo-info h1 {
    font-size: 3em;
  }
  .logo-info h2 {
    font-size: 2em;
  }

  .logo-info img {
    width: 100px;
    height: 100px;
  }
  .logo-index {
    position: relative;
  }

  .login-form {
    position: absolute;
    width: 35%;
    height: 50%;
    left: 50%;
    top: 20%;
    padding-top: 5%;
  }
}
