:root {
  --negro0: #111111;
  --negro1: #333333;
  --gris0: #444444;
  --gris1: #909090;
  --gris2: #c4c4c4;
  --gris3: #dedede;
  --gris4: #e2e2e2;
  --gris5: #e6e6e6;
  --gris6: #f3f3f3;
  --blanco0: #ffffff;
  --blanco1: #fafafa;

  /*Estados*/
  --citadx: #56ccf2;
  --enProceso: #27ae60;
  --sinEstado: #bdbdbd;
  --contactar: #f2c94c;
  --esperaDeRespuesta: #eb5757;

  --textFont: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blanco0);
  color: var(--negro0);
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}
